*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

a, a:visited{
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-underline: transparent;
}


header{
    width: 100vw;
    height:  10vh;
    background: #232020;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

header p:hover{
    transform: scale(1.15);
    color: white;
    transition-duration: 0.5s;
}

#Left-Section{
    padding-left: 2rem;

}

#Right-Section{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    padding-right: 2rem;

}

#Right-Section p {
    font-weight: 500;
    font-size: 1.25rem;
    font-family: Georgia;
}


#Left-Section p {
    font-weight: 700;
    font-size: 1.25rem;
}

.Music-Box{
    width: 40vw;
    height: 50vh;

    background: #3c2a2a;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 25%;
    margin-bottom: 2rem;
    margin-left: 4rem;

}

.Music-Box p{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 50vh;
    font-size: 1.5vw;
    padding: 0 2rem 0 2rem;
    text-wrap: pretty;
    font-family: Georgia;
    line-height: 1.5;
    font-weight: 200;
    color: white;
    text-align: justify;
    word-wrap: break-word;
}

.Background{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 92vh;
    background: #232020;
}

.Right{
    width: 50vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: end;
}

.Left{
    width: 50vw;
    height: 72vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 4rem;
    gap: 2rem;
}

input {
    width: 40vw;
    height: 5vh;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
    font-size: large;
}

input:hover {
    transform: scale(1.05);
    transition-duration: 0.5s;
}

input[type=text]{
    padding-left: 1rem;
}

button{
    height: 5vh;
    width: 10vw;
    border-radius: 15px;
    border-color: transparent;
    transition: 0.3s;
}

button:hover{
    transform: scale(1.1);
    transition-duration: 0.5s;
    cursor: default;
    background: green;
    color: white;
}

iframe{
    padding-right: 2rem;
}

