*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a, a:visited{
    text-decoration: none;
    color: #d3d3d3;
    text-underline: transparent;
}

.background{
    width: 100vw;
    height: 80vh;
 background: #1D4350;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #A43931, #1D4350);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #A43931, #1D4350); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 100vw;
    background:  transparent;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
    transition: 0.5s ease;

}

header p:hover{
    transform: scale(1.2);
    transition-duration: 0.5s;

}

#Left-Section{
    padding-left: 2rem;
}

#Right-Section{
    display: flex;
    flex-direction: row;
    padding-right: 2rem;
    gap: 2rem;
}

#Right-Section p {
    font-weight: 500;
    font-size: 1.25rem;
    font-family: Georgia;
}


#Left-Section p {
    font-weight: 700;
    font-size: 1.5rem;
}

.Landing{
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    gap: 3rem;
    width: 100vw;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

#profile_pic{
    height: 13vw;
    width: 13vw;
    border-radius: 50%;
    background: antiquewhite;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#profile_pic img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;

}

.about{
    width: 50vw;
    height: 40vh;
    color: #ffffff;
    font-size: 1.65vw;
    text-wrap: pretty;
    line-height: 1.3;
    font-family: Georgia;
    text-align: center;
    word-break: auto-phrase;
}

.Projects{
    width: 100vw;
    height: auto;
    display: flex;
    flex: 1 1;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 2rem auto;
}

.Project-Box{
    width: 40vw;
    height: 14vh;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    border: 5px;
    border-radius: 5%;
    transition-duration: 0.5s;
    overflow: hidden;
    text-overflow: ellipsis;
}


.Project-Box:hover{
    transform: translateY(8px);
    background: #d3d3d3;
    cursor: pointer;
}


.hidden-desc{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hidden-desc p{
    padding: 1rem 2rem 0 2rem;
}

.Github a{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:row ;
    color: black;
    gap: 1rem;
}

.Github a img{
     width: 7%;
    height: auto;
    padding: 1rem 0 1rem 0;
}

.Github a img:hover{
    transform: scale(1.2);
    transition-duration: 0.6s;
    cursor: pointer;
}

.yt{
    margin-top: 2rem;
    width:auto;
    height: auto;
    border-radius: 10%;
}

